.botonModalPrincipal,
.botonModalPictogramas_1,
.botonModalPrincipalEnviarGuardar button,
.botonModalBasica button,
.botonModalPictogramas_2 button,
.botonModalGeneral button,
.botonModalEspecifica button {
  color: rgb(0, 110, 255);
  padding: 10px 20px;
  margin: 10px 20px;
  border-color: rgb(237, 222, 222);
  border-color: rgb(235, 231, 231);

  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

/* basica*/
.contenedorModalBasica {
  max-height: 85vh;

  margin-top: 80px;
  border-radius: 5%;
}

.contenedorBasica {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -20px;
}

.contenedorBasica input {
  padding: 5px;
}

.contenedorBasica label {
  margin-bottom: 1px;
}

/* general*/
.contenedorModalGeneral {
  max-height: 85vh;

  margin-top: 80px;
  border-radius: 5%;
}

.contenedorGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 25px;
}

.contenedorGeneral input {
  padding: 2px;
}

.contenedorGeneral label {
  margin-bottom: 1px;
}

.contenedorGeneral2 {
  position: relative;
  bottom: 35px;
  margin-bottom: -50px;
}

.contenedorGeneraltitulo {
  position: relative;
  bottom: 40px;
}

/* especifica */

.contenedorEspecifica {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 25px;
}

.contenedorModalEpecifica {
  width: 90%;
  max-width: 700px;

  background: white;
  border-radius: 12px;
  padding: 20px;

  max-height: 85vh;
  overflow-y: auto;

  box-sizing: border-box;
}

.contenedorEspecifica label {
  margin: 3px;
  padding: 3px;
}

.contenedorEspecifica2 {
  position: relative;
  bottom: 35px;
  margin-bottom: -50px;
}
