html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.tituloPrincipal {
  color: rgb(0, 110, 255);
  text-align: center;
  margin-right: 50px;
  font-size: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    5,
    auto
  ); /*aqui definimos el numero de ventanas que se miraran por fila  en este cas0 5 por fila*/
  gap: 20px;
  justify-content: center;
  margin-left: 24px;
}

.contenedor-cierreSesion {
  left: 1149px;
  position: absolute;
  transition: transform 0.2s;
}

.contenedor-cierreSesion:hover {
  transform: scale(1.05);
}

.contenedor-cierreSesion img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-bottom: -20px;
  color: rgb(0, 110, 255);
}

.contenedor-cierreSesion h3 {
  position: relative;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
}

.contenedor-cierreSesion div {
  position: absolute;
  left: 4px;
  bottom: -50px;
}

.contenedor-nuevo-registro {
  left: 1149px;
  position: absolute;
  transition: transform 0.2s;
}

.contenedor-nuevo-registro:hover {
  transform: scale(1.05);
}

.contenedor-nuevo-registro img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-bottom: -20px;
  color: rgb(0, 110, 255);
}

.contenedor-nuevo-registro div {
  position: absolute;
  left: 4px;
  bottom: -50px;
}

.contenedor-descargar {
  position: absolute;
  left: 1065.5px;
  transition: transform 0.2s;
  cursor: pointer;
}

.contenedor-descargar:hover {
  transform: scale(1.05);
}

.contenedor-descargar img {
  width: 50px;
  height: 50px;
}

.contenedor-descargar div {
  position: absolute;
  left: -2px;
  bottom: -50px;
}

.titulo-contenedor-modal-descargar {
  position: relative;
  bottom: 30px;
}

.boton-descargar-formato-modal-descargar {
  position: relative;
  bottom: 30px;
}

.contenedor-consumo-inventario {
  position: absolute;
  left: 970px;
  transition: transform 0.2s;
  cursor: pointer;
}

.contenedor-consumo-inventario:hover {
  transform: scale(1.05);
}

.contenedor-consumo-inventario img {
  width: 70px;
  height: 50px;
}

.contenedor-consumo-inventario div {
  position: absolute;
  left: 10px;
  bottom: -50px;
}
