.boton-enviar-recuperar-password,
.boton-enviar-cambiar-password {
  color: rgb(0, 110, 255);
  padding: 10px 20px;
  margin: 10px 20px;
  border-color: rgb(237, 222, 222);
  border-color: rgb(235, 231, 231);

  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.contenedor-recuperar-password,
.contenedor-cambiar-password {
  position: relative;
  left: 60px;
}
