/* estilos tabla */
.contenedor-tabla {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
.tabla-reactivos {
  width: 100%;
  border-collapse: collapse; /* Une las líneas */
}

.tabla-reactivos th,
.tabla-reactivos td {
  border: 1px solid black; /* Líneas */
  padding: 10px;
  text-align: center; /* Centra horizontal */
  vertical-align: middle; /* Centra vertical */
}

.tabla-reactivos th {
  background-color: #f2f2f2;
}

.tablaPanelReactivos {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.tablaPanelReactivos th,
.tablaPanelReactivos td {
  border: 1px solid black;
  padding: 8px;
}

.tablaPanelReactivos th {
  background-color: #f2f2f2;
}

.modalObservacionesConsumo {
  width: 650px;
  align-items: center;
}

.butoon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.col-angosta {
  width: 30px;
}

.circulo-stock {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: auto;
}

td.verde {
  background: #27ae60;
}

td.amarillo {
  background: #f1c40f;
}

td.rojo {
  background: #e74c3c;
}

/* estilos panel reactivos */
.panel-reactivo {
  position: fixed;
  right: 0;
  top: 0;

  width: 400px;
  height: 100vh;

  background: white;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);

  padding: 20px;

  animation: deslizar 0.3s ease;

  overflow-y: auto;

  box-sizing: border-box; /* 👈 importante */
}

.panel-reactivo label input {
  margin-right: 10px;
}
.panel-reactivo input {
  width: 60px;
  text-align: center;
}

.panel-reactivo select {
  text-align: center;
  width: 90px;
  height: 21.5px;
}

.panel-reactivo button {
  color: rgb(0, 110, 255);
  padding: 10px 20px;
  margin: 10px 20px;
  border-color: rgb(237, 222, 222);
  border-color: rgb(235, 231, 231);
  width: 130px;

  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

@keyframes deslizar {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.control-cantidad {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 20px 0;
}

.control-cantidad button {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.acciones {
  display: flex;
  gap: 10px;
}

.agregar {
  background: #2ecc71;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* estilos botones ver, cerrer edita de tabla */
.boton-ver,
.boton-editar,
.boton-eliminar {
  color: rgb(0, 110, 255);

  margin-bottom: 5px;
  border-color: rgb(237, 222, 222);
  border-color: rgb(235, 231, 231);

  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.campo-observaciones {
  display: flex;
  flex-direction: column;
  gap: 5px; /* espacio entre label y textarea */
}

.campo-observaciones textarea {
  width: 100%;
  min-height: 100px;
}

.contenedor-datos-reactivo {
  display: flex;
  gap: 2.5px;
  flex-direction: column;
}
.contenedor-modal-observaciones {
  display: flex;
  gap: 2.5px;
  flex-direction: column;
  align-items: center;
}
.titulo-contenedor-info-reactivos {
  color: rgb(0, 110, 255);
}

/* estilos contenedor de pictogramas en panelReactivos */
.contenedor-pictogramas-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;

  align-items: center;
  position: absolute;
  right: 20px;
}

.contenedor-pictogramas-panel img {
  height: 30px;
  width: 30px;
}
