/* estilos tabla */
.contenedor-tabla {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
.tabla-reactivos {
  width: 100%;
  border-collapse: collapse; /* Une las líneas */
}

.tabla-reactivos th,
.tabla-reactivos td {
  border: 1px solid black; /* Líneas */
  padding: 10px;
  text-align: center; /* Centra horizontal */
  vertical-align: middle; /* Centra vertical */
}

.tabla-reactivos th {
  background-color: #f2f2f2;
}

.col-angosta {
  width: 30px;
}

/* estilos semaforo stok  */
/* .circulo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: auto;
}

.verde {
  background-color: green;
}

.amarillo {
  background-color: yellow;
}

.rojo {
  background-color: red;
} */
.circulo-stock {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: auto;
}

.verde {
  background: #2ecc71;
}

.amarillo {
  background: #f1c40f;
}

.rojo {
  background: #e74c3c;
}

/* estilos panel reactivos */
.panel-reactivo {
  position: fixed;
  right: 0;
  top: 0;

  width: 320px;
  height: 100%;

  background: white;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);

  padding: 20px;

  animation: deslizar 0.3s ease;
}

@keyframes deslizar {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.control-cantidad {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 20px 0;
}

.control-cantidad button {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.acciones {
  display: flex;
  gap: 10px;
}

.agregar {
  background: #2ecc71;
}

.quitar {
  background: #e74c3c;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}
